body {
    font-family: 'Josefin Sans', Helvetica;
}

.grid {
    overflow: auto;     /* Takes care of collapsing div */
    width: 100%;        /* Takes care of collapsing div */
    background-color: dimgrey;
    border: 1px solid red;
}
/* Another way to take care of collapsing div:
.grid:after {
    content: "";
    display: table;
    clear: both;
}
*/

/* Begin Making the Inside Gutters: */
    /* First, set width, regardless of borders or padding added later */
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    /* Second, add right side padding for all columns that don't end at */
    /* the rightmost end of the grid layup */ 
[class*="col-2"] {
    padding-right: 20px;
}
/* End Making the Inside Gutters */

[class*="col-"] {
    background-color: azure;
    border: 1px solid red;
    float: left;
}

.col-100pct {
    width: 100%;
}

.col-80pct {
    width: 79.66%;
}

.col-20pct {
    width: 20.33%;
    height: 150px;
}

#nav_box {
    height: 50px;
}

#search_box {
    height: 75px;
}

#article_title_box {
    height: 87px;
}

#article_data_box {
    height: 63px;
}

#design_box {
    clear: left;
}

#main_text_box {
    height: 150px;
}

#mobile_box {
    height: 150px;
    background-color: azure;
    border: 1px solid red;
    float: right;
}

#graphics_box {
    height: 150px;
    clear: left;
    background-color: azure;
    border: 1px solid red;
    float: right;

}

#image_box {
    height: 300px;
    float: right;

}

#ux_box {
    clear: left;
}

#small_text_box {
    height: 75px;
}

#icon_box {
    height: 75px;
}

.my_text {
    text-align: center;
}